<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WFS</title>
    style 
        include ../static/style.css
  </head>
  <body>
    <div class="container">
      include  ../static/head.html

      <div class="bodyContainer">
        <div class="col1">
          img(src="/static/img/filesystem.png",id="bgimg1")
        </div>
        <div class="col2">
          <h1 id="col2Heading">WELCOME TO WEB FILE SYSTEM</h1><hr/>
          
          <p id="col2Para">This is best application to store data in file format and perform CRUD operation on it.</p>
        </div>        
      </div>
      include ../static/footer.html
    </div>
  </body>
</html>
