<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WFS-SIGNUP</title>
    style 
        include ../static/style.css
  </head>
  <body>
    <div class="container">
        include ../static/head.html        
        <div class="bodyContainer">
            <div class="col1">
                img(src="/static/img/signupImg.png",id="bgimg1")
            </div>
            <div class="col2">
                <form action="/signingup" method="post" id="loginForm"> 
                    <h1 id="col2Heading">CREATE NEW ACCOUNT</h1>
                    <input type="text" class="inp" name="user_name" placeholder="Enter Your Full Name" required />
                    <input type="email" class="inp" name="user_email" placeholder="Enter Your Email ID" required />
                    <input type="password" class="inp" name="user_password" placeholder="Enter Your Password" required />
                    <input type="password" class="inp" name="user_conf_password" placeholder="Confirm Your Password" required />
                    <button type="submit" id="btnlogin">SIGNUP</button><br/>
                    <span id="signupErrorMsg">#{signuperrmsg} </span>
                    <span id="signupSuccessMsg">#{signupsuccessmsg} </span>
                <form>
            </div>        
        </div>
    </div>
    include ../static/footer.html
  </body>
</html>
